body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray;
  box-sizing: border-box;
}
h1 {
  color: blue;
  font-family: sans-serif;
  padding-top: 0%;
}
p {
  color: floralwhite;
  font-family: verdana;
  font-size: 15px;
}
.horizontal-flex{
  display: flex;
}
p {
  width: 400px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
img {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}
